@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.curved-bg {
  @apply relative w-full h-96 bg-gradient-to-r from-blue-800 to-blue-400 text-white flex flex-col justify-center items-center text-center;
  clip-path: ellipse(70% 70% at 50% 50%);
}

.background-section {
  background-image: url("/bg-oncologia-.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; /* Padrão para dispositivos móveis */
}



.custom-shape-divider-bottom-1726520428 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1726520428 svg {
  position: relative;
  display: block;
  width: calc(119% + 1.3px);
  height: 208px;
}

.custom-shape-divider-bottom-1726520428 .shape-fill {
  fill: #D6E0E7;
}

/* Media query para telas maiores (largura mínima de 768px) */
@media (min-width: 768px) {
  .background-section {
    background-position: 100% center;
    background-size: contain; /* Muda para contain em desktops */
  }
}

@media (max-width: 480px) {
  .custom-shape-divider-bottom-1726520428 svg {
    position: relative;
    display: block;
    width: calc(120% + 1.3px);
    height: 100px;
  }
}